{{ ansible_managed | comment }}

object Zone "{{ inventory_hostname }}" {
  endpoints = [ "{{ inventory_hostname }}" ]
  parent = "{{ icinga2_master_host }}"
}

object Endpoint "{{ inventory_hostname }}" {
  host = "{{ client_ip_address }}"
}

object Host "{{ inventory_hostname }}" {
{% if icinga2_host_template is defined and icinga2_host_template != "" %}
  import "{{ icinga2_host_template }}"
{% else %}
  import "generic-host"
{% endif %}
  address = "{{ client_ip_address }}"

  vars.distribution = "{{ ansible_distribution }}"
  vars.distribution_file_variety = "{{ ansible_distribution_file_variety | default('') }} }}"
  vars.distribution_major_version = "{{ ansible_distribution_major_version }}"
  vars.distribution_release = "{{ ansible_distribution_release | default('') }} }}"
  vars.distribution_version = "{{ ansible_distribution_version }}"
  vars.domain = "{{ ansible_domain }}"
  vars.fqdn = "{{ ansible_fqdn }}"
  vars.hostname = "{{ ansible_hostname }}"
  vars.memtotal_mb = "{{ ansible_memtotal_mb }}"
  vars.os = "{{ icinga2_client_os }}"
  vars.processor_cores = "{{ ansible_processor_cores }}"
  vars.processor_count = "{{ ansible_processor_count }}"
  vars.processor_nproc = "{{ ansible_processor_nproc | default('') }} }}"
  vars.product_name = "{{ ansible_product_name | default('') }}"
  vars.system_vendor = "{{ ansible_system_vendor | default('') }}"
  vars.virtualization_role = "{{ ansible_virtualization_role | default('') }}"
  vars.virtualization_type = "{{ ansible_virtualization_type | default('') }}"

{% if icinga2_plugins_linuxfabrik_monitoring_plugins_installed | default(false) %}
  vars.linuxfabrik_monitoring_plugins_installed = true
{% endif %}

{% if icinga2_client_os != "Windows" %}
  vars.disks["disk"] = {
    disk_all = true
    disk_local = true
  }
{% endif %}

  vars.notification["mail"] = {
    groups = [ "icingaadmins" ]
  }

  vars.client_endpoint = name

{% if icinga2_plugins_linuxfabrik_monitoring_plugins_installed | default(false) %}
{% endif %}

  #############################################################################
  # Host Variables

{% set host_vars = icinga2_client_vars | default({}) %}
{% set _extra_vars = host_vars.update(icinga2_client_vars_extra) %}
{% for var_group_name, var_group_content in host_vars.items() %}
{% if var_group_content is mapping %}
{% for var_name, var_content in var_group_content.items() %}
{% if var_content is mapping %}
  vars.{{ var_group_name }}["{{ var_name }}"] = {
{% for param_name, param_value in var_content.items() %}
{% if param_value == false or param_value == true %}
    {{ param_name }} = {{ param_value | lower }}
{% elif param_value is number %}
    {{ param_name }} = {{ param_value }}
{% else %}
    {{ param_name }} = "{{ param_value }}"
{% endif %}
{% endfor %}
  }
{% else %}
{% if var_content == false or var_content == true %}
  vars.{{ var_group_name }}["{{ var_name }}"] = {{ var_content | lower }}
{% elif var_content is number %}
  vars.{{ var_group_name }}["{{ var_name }}"] = {{ var_content }}
{% else %}
  vars.{{ var_group_name }}["{{ var_name }}"] = "{{ var_content }}"
{% endif %}
{% endif %}
{% endfor %}
{% else %}
{% if var_group_content == false or var_group_content == true %}
  vars.{{ var_group_name }} = {{ var_group_content | lower }}
{% elif var_group_content is number %}
  vars.{{ var_group_name }} = {{ var_group_content }}
{% else %}
  vars.{{ var_group_name }} = "{{ var_group_content }}"
{% endif %}
{% endif %}

{%- endfor %}

  # End Host Variables
  #############################################################################

  # Include additional host var file
  include "/etc/icinga2/additional-host-vars/{{ inventory_hostname }}.conf"
}
