# {{ ansible_managed }}

{# Zone object #}
object Zone "{{ inventory_hostname }}" {
  endpoints = [ "{{ inventory_hostname }}" ]
  parent = "{{ icinga2_master_host }}"
}

{# Endpoint object #}
object Endpoint "{{ inventory_hostname }}" {
  host = "{{ client_ip_address }}"
}

{# Host object #}
object Host "{{ inventory_hostname }}" {
{# Host template: can be customized with 'icinga2_host_template' var #}
{% if icinga2_host_template is defined and icinga2_host_template != "" %}
  import "{{ icinga2_host_template }}"
{% else %}
  import "generic-host"
{% endif %}

  # Host basic settings
  display_name = "{{ icinga2_host_display_name | default(inventory_hostname) }}"
  address = "{{ client_ip_address }}"
  enable_notifications = {{ 'true' if icinga2_host_enable_notifications | default(true) else 'false' }}
  notes = "{{ icinga2_host_notes | default('') }}"
  notes_url = "{{ icinga2_host_notes_url | default('') }}"
  action_url = "{{ icinga2_host_action_url | default('') }}"
  icon_image = "img/icons/{{ icinga2_host_icon | default(icinga2_host_default_icon) | default('hardware/server4.png') }}"
  icon_image_alt = "{{ icinga2_host_icon_alt | default('') }}"

  # Host build-in variables
  vars.distribution = "{{ ansible_distribution }}"
  vars.distribution_file_variety = "{{ ansible_distribution_file_variety | default('') }}"
  vars.distribution_major_version = "{{ ansible_distribution_major_version }}"
  vars.distribution_release = "{{ ansible_distribution_release | default('') }}"
  vars.distribution_version = "{{ ansible_distribution_version }}"
  vars.domain = "{{ ansible_domain }}"
  vars.fqdn = "{{ ansible_fqdn }}"
  vars.hostname = "{{ ansible_hostname }}"
  vars.memtotal_mb = "{{ ansible_memtotal_mb }}"
  vars.os = "{{ icinga2_client_os }}"
  vars.processor_cores = "{{ ansible_processor_cores }}"
  vars.processor_count = "{{ ansible_processor_count }}"
  vars.processor_nproc = "{{ ansible_processor_nproc | default('') }}"
  vars.product_name = "{{ ansible_product_name | default('') }}"
  vars.system_vendor = "{{ ansible_system_vendor | default('') }}"
  vars.system_bits = "{{ ansible_userspace_bits | default('') }}"
  vars.virtualization_role = "{{ ansible_virtualization_role | default('') }}"
  vars.virtualization_type = "{{ ansible_virtualization_type | default('') }}"

{# Enable Linuxfabrik Monitoring Plugins if installed #}
{%- if icinga2_plugins_linuxfabrik_monitoring_plugins_installed | default(false) %}
  vars.linuxfabrik_monitoring_plugins_installed = true
{% endif %}

{# Enable default variables on non-Windows hosts #}
{%- if icinga2_client_os != "Windows" %}
  vars.disks["disk"] = {
    disk_all = true
    disk_local = true
  }
{% endif %}

  vars.notification["mail"] = {
    groups = [ "icingaadmins" ]
  }

  vars.client_endpoint = name

{# TODO: built-in Linuxfabrik Monitoring Plugins variables #}
{% if icinga2_plugins_linuxfabrik_monitoring_plugins_installed | default(false) %}
{% endif %}

#############################################################################
# Host Variables defined in 'icinga2_client_vars' variable

{#
------------------------------------------------------------------------------
Icinga2 variables rendering helper

This macro converts Ansible values into valid Icinga2 DSL syntax.

Supported types:
- Boolean      -> true / false
- Number       -> 10, 3.14
- String       -> "value"
- Duration     -> 10s, 5m, 100ms (kept unquoted)
- List         -> ["a", "b", "c"]
- Dictionary   -> handled outside this macro

Examples

Input:
  icinga2_client_vars:
    check_swap: false
    load_wload1: 36.0
    pve_backups:
      pve_backups_verify_ssl: true
      pve_backups_storage: backup-pbs
    nvme:
      /dev/nvme0:
        ignore_num_err_log: true
    zfs:
      rpool:
        capacity: 80 90

Rendered output:
  vars.check_swap = false
  vars.load_wload1 = 36.0
  vars.pve_backups["pve_backups_verify_ssl"] = true
  vars.pve_backups["pve_backups_storage"] = "backup-pbs"
  vars.nvme["/dev/nvme0"] = {
    ignore_num_err_log = true
  }
  vars.zfs["rpool"] = {
    capacity = "80 90"
  }
------------------------------------------------------------------------------
#}
{% macro render_icinga_value(value) -%}
{%- if value is boolean -%}
{{ value | lower }}
{%- elif value is iterable and (value is not string and value is not mapping) -%}
["{{ value | join('", "') }}"]
{%- elif value is number or (value is string and value | regex_search('^[0-9.]+(ms|s|m|d|h)$')) -%}
{{ value }}
{%- else -%}
"{{ value }}"
{%- endif -%}
{%- endmacro %}

  #############################################################################
  # Host Variables defined in 'icinga2_client_vars' variable

{% set host_vars = icinga2_client_vars | default({}) %}
{% for check_command, check_element in host_vars.items() %}
{% if check_element is mapping %}
{% set ns = namespace(has_nested_mapping=false) %}
{% for _, v in check_element.items() %}
{% if v is mapping %}
{% set ns.has_nested_mapping = true %}
{% endif %}
{% endfor %}

{% if ns.has_nested_mapping %}
{% for check_element_name, check_element_params in check_element.items() %}
{% if check_element_params is mapping %}
  vars.{{ check_command }}["{{ check_element_name }}"] = {
{% for check_element_param_name, check_element_param_value in check_element_params.items() %}
    {{ check_element_param_name }} = {{ render_icinga_value(check_element_param_value) }}
{% endfor %}
  }
{% else %}
  vars.{{ check_command }}["{{ check_element_name }}"] = {{ render_icinga_value(check_element_params) }}
{% endif %}
{% endfor %}
{% else %}
{% for check_element_name, check_element_value in check_element.items() %}
  vars.{{ check_command }}["{{ check_element_name }}"] = {{ render_icinga_value(check_element_value) }}
{% endfor %}
{% endif %}
{% else %}
  vars.{{ check_command }} = {{ render_icinga_value(check_element) }}
{% endif %}
{% endfor %}
}
